.service__section {
  text-align: center;
  min-height: 100vh;
}

.service__container {
  padding: 2rem 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.service__block__content {
  border: 2px solid white;
  margin-top: 1rem;
  border-radius: 1rem;
  width:400px;
  height:270px;
  padding: 1rem 1rem 0 1rem;
}

