.home__section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    height: 100vh;
}

.home__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.showcase__video{
    width: 700px;
}

.home__title{
    width:450px;
    height: 300px;
    font-size: 2.5rem;
}

.highlightText{
    color: wheat;
}