.footer__section {
  background-color: rgb(40, 40, 40);
  text-align: center;
  padding-top: 3rem;
}

.footer__link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer__link__text:hover {
  color: rgb(200, 200, 200);
}

.footer__copyright__text {
  font-size: 0.875rem;
}
