.product__showcase__section {
  padding-top: 8rem;
}

.product__showcase__container {
  padding: 0 10rem;
  display: flex;
  gap: 5rem;
  align-items: center;
}

.product__category__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__preview__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product__preview {
}

.product__preview__image {
  width: 300px;
}

.product__preview__name {
  text-align: center;
}
